@import "mixin.scss";

#masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {

  }

  .rightBtnGroup {
    font-weight: bold;
    list-style: none;
    display: flex;
    li {
      margin-right: 15px;
    }
  }


  @include borderBlack;
}