@import "normalize.scss";
@import "general.scss";
@import "mixin.scss";
@import "masthead.scss";
@import "header.scss";
@import "stash.scss";
@import "authentication.scss";
@import "patternLockWrapper.scss";

#wrap {
  width: 800px;
  margin: 0 auto;

  > div {
    margin-bottom: 15px;
  }
}