@import "color.scss";

#patternLockWrapper {
  position: relative;
  overflow: hidden;

  .messageBox {
    width: 100%;
    position: absolute;
    top: 15px;
    text-align: center;

    #messageError {
      color: #d60007;
    }

    #messageSuccess {
      color: #0000ae;
    }
  }

  #patternBlock {
    position: absolute;
    width: 100%;
    height: 242px;
    z-index: 10000;
  }

  .patt-holder {
    background: 0 0;
    margin: 0 auto;
  }

  .patt-wrap {
    margin: auto;
    overflow: hidden
  }

  .patt-dots{
    background: #353535;
    width: 10px;height: 10px;
    border-radius:5px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-5px;
    margin-left:-5px;
  }

  .patt-lines{
    border-radius:5px;
    height:10px;
    background: rgba(12, 12, 12, 0.85);
    position:absolute;
    transform-origin:5px 5px;
    -ms-transform-origin:5px 5px; /* IE 9 */
    -webkit-transform-origin:5px 5px;
  }

  .patt-circ{
    position:relative;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .patt-circ.hovered{
    border:3px solid $black;
    background-color: $black;
  }

}